@model haiku_mvc.Models.USERS

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>USERS</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="UserId" />
            <div class="form-group">
                <label asp-for="NameSurname" class="control-label"></label>
                <input asp-for="NameSurname" class="form-control" />
                <span asp-validation-for="NameSurname" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UserName" class="control-label"></label>
                <input asp-for="UserName" class="form-control" />
                <span asp-validation-for="UserName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Password" class="control-label"></label>
                <input asp-for="Password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TotalFollowers" class="control-label"></label>
                <input asp-for="TotalFollowers" class="form-control" />
                <span asp-validation-for="TotalFollowers" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TotalFollows" class="control-label"></label>
                <input asp-for="TotalFollows" class="form-control" />
                <span asp-validation-for="TotalFollows" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TotalHaiku" class="control-label"></label>
                <input asp-for="TotalHaiku" class="form-control" />
                <span asp-validation-for="TotalHaiku" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TotalLikes" class="control-label"></label>
                <input asp-for="TotalLikes" class="form-control" />
                <span asp-validation-for="TotalLikes" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TotalShares" class="control-label"></label>
                <input asp-for="TotalShares" class="form-control" />
                <span asp-validation-for="TotalShares" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
